.nf1{
    font-size: 400px;
    color: black;
    margin-left: 10px;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bolder;
   
}
.nf2{
    font-size: 100px;
    color: black;
    margin-top: 40px;
    position: absolute;
    left: 20px;
    font-weight: bolder;
}
